body{
    padding-top: 4.5rem;
}

.intro-section{
    background-color: blueviolet;
    padding: 4rem 0 0 0;
}

.title-index{
    padding-left: 8vw;
}
.display-2--description {
    font-size: 1.4rem;
}

.carousel-inner{
    max-height: 39rem;
}

.section-quienes{
    text-align: center;
}

.footer-sm{
    background-color: #710193;
    color: #ffef78;
}
.title-copy{
    color: #ffef78;
}

@media(max-width:780px){
    .title-index{
        text-align: center;
        padding-left: 0vw;
    }
    .nav-link:hover{
        color: #ffd031;
    }
}